In [2]:
import pandas as pd

# DISH

In [5]:
with open('..\Data\MenuItem.csv','r',encoding='utf-8') as f:
    mi_df = pd.read_csv(f)

In [6]:
mi_df.dtypes

id                int64
menu_page_id      int64
price           float64
high_price      float64
dish_id         float64
created_at       object
updated_at       object
xpos            float64
ypos            float64
dtype: object

In [19]:
mi_df.id           = mi_df.id.astype(int)
mi_df.menu_page_id = mi_df.menu_page_id.astype(int)
mi_df.price        = mi_df.price.astype(float)
mi_df.high_price   = mi_df.high_price.astype(float)
mi_df.dish_id      = mi_df.dish_id.fillna(-1).astype(int)
mi_df.created_at   = mi_df.created_at.astype(str)
mi_df.updated_at   = mi_df.updated_at.astype(str)
mi_df.xpos         = mi_df.xpos.astype(float)
mi_df.ypos         = mi_df.ypos.astype(float)
mi_df.head()

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
0,1,1389,0.4,NaN,1,2011-03-28 15:00:44,2011-04-19 04:33:15,0.111429,0.254735
1,2,1389,0.6,NaN,2,2011-03-28 15:01:13,2011-04-19 15:00:54,0.438571,0.254735
2,3,1389,0.4,NaN,3,2011-03-28 15:01:40,2011-04-19 19:10:05,0.140000,0.261922
3,4,1389,0.5,NaN,4,2011-03-28 15:01:51,2011-04-19 19:07:01,0.377143,0.262720
4,5,3079,0.5,1.0,5,2011-03-28 15:21:26,2011-04-13 15:25:27,0.105714,0.313178

In [16]:
mi_df['created_at'] = mi_df.created_at.str.rstrip(' UTC')
mi_df['updated_at'] = mi_df.updated_at.str.rstrip(' UTC')

In [18]:
dish_df.to_csv('..\Data\MenuItem.csv',encoding='utf-8',float_format='%.6f',index=False)